body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e7eb;
    margin: 0;
  }
  
  .section-box {
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
  }
  
  #menu ul {
    padding: 0;
  }
  
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 22px;
    color: #111827;
  }
  
  p {
    font-size: 15px;
    color: purple
  }
  
  img {
    width: 150px;
    border-radius: 12px;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    padding: 8px;
  }
  
  a {
    color: #1d4ed8;
  }
  
  iframe {
    width: 100%;
    height: 300px;
    display: block;
    margin: 20px auto;
  }
  
  @media print {
    iframe {
      display: none;
    }
  
    body {
      font-size: 12px;
    }
  }
  