body{
    background-color:#f4f6f8;
    }
    
    h1{
    font-weight:bold;
    }
    
    .list-group-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    }
    
    .task-info{
    flex-grow:1;
    }
    
    .completed{
    text-decoration: line-through;
    color: gray;
    }